/* global styles */

/* containers with grid */
.container{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12, 1fr);
}
.container-row{
  display: grid;
  grid-template-rows: repeat(12, 1fr);
}
.container-column{
  display: grid;
  grid-template-columns: repeat(12,1fr);
}
